<!DOCTYPE html>
<html lang="en">

<head>
    <title>ASSPMS/SignUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body style="background-color: #16a085;">
    <div class="container-fluid">
        <div class="container" style="background-color: white;padding:30px; border:1px solid #aaa;width:50%;margin-top:1%;">
            <div class="container">
                <div class="container-fluid header" style="align-items: center;">
                    <h3>SignUp</h3><a href="{% url 'home' %}"><p>Home</p></a>
                    <hr>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% if form1.errors or patient_reg_form.errors %}
                        {% for field in form1 %}
                        {% for error in field.errors %}
                        <div class="container my-2">
                            <div class="alert {{ message.tags }} alert-dismissible " role="alert"
                                style="border:1px solid #aaa;padding:20px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <p aria-hidden="true">&times;</p>
                                </button>
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
    
                        {% for field in doctor_reg_form %}
                        {% for error in field.errors %}
                        <div class="container my-2">
                            <div class="alert {{ message.tags }} alert-dismissible " role="alert"
                                style="border:1px solid #aaa;padding:20px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <p aria-hidden="true">&times;</p>
                                </button>
                                {{ error }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
    
                        {% endif %}
                        {{form1 |crispy}}
                        {{doctor_reg_form |crispy}}

                        <!-- <p><label for="email">First name : &nbsp;</label>{{registerform.first_name}}</p>
                        <p><label for="email">last name : &nbsp;</label>{{registerform.last_name}}</p>
                        <p><label for="email">Email : &nbsp;</label>{{registerform.email}}</p>
                        <p><label for="password">Password : &nbsp;</label>{{registerform.password1}}</p>
                        <p><label for="password">Confirm password : &nbsp;</label>{{registerform.password2}}</p>
                        <p><label for="username">Username : &nbsp;</label>{{registerform.username}}</p>
                        <p><label for="username">Profile image: &nbsp;</label>{{profileform.image}}</p>
                        <p><label class="my-3" for="address">Address Line1: &nbsp;</label>{{profileform.address_line1}}</p>
                        <p><label class="my-3" for="image">City: &nbsp;</label>{{profileform.city}}</p>
                        <p><label class="my-3" for="image">State: &nbsp;</label>{{profileform.state}}</p>
                        <p><label class="my-3" for="image">Country: &nbsp;</label>{{profileform.country}}</p>
                        <p><label class="my-3" for="image">Pincode: &nbsp;</label>{{profileform.pincode}}</p>
     -->
                        <p><button type="submit">SignUp</button></p>
                    </form>
                    <p>If already registered, <a href="{% url 'LoginForm' %}">LogIn</a></p>
                </div>
            </div>

        </div>
    </div>


    <!-- Optional Javascript -->
    <!-- for dissimisible alert box  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            $('.alert').alert()
        })
    </script>

</body>

</html>